#!/usr/bin/make -f

# Variables
NAME = itsm-ng
VERSION = CHANGEVERSION
TARBALL = $(NAME)-v$(VERSION).tgz
URL = https://github.com/itsmng/$(NAME)/releases/download/v$(VERSION)/$(TARBALL)

%:
	dh $@

override_dh_auto_clean:
	rm -rf itsm-ng-*.tgz \
		var

override_dh_auto_build:
	# Download and extract the source
	wget -q $(URL)
	tar xf $(TARBALL)

override_dh_auto_install:
	# ITSM-NG Data
	mkdir -p var/lib/itsm-ng
	mv $(NAME)/files/* var/lib/itsm-ng

	# ITSM-NG Source code
	# Install files into the appropriate directories
	cp -r $(NAME)/* usr/share/itsm-ng

	# Remove config folder
	rm -r $(NAME) usr/share/itsm-ng/config usr/share/itsm-ng/files

	# Create log folder
	mkdir -p var/log/itsm-ng

override_dh_gencontrol:
	dh_gencontrol -- -v1:$(VERSION)-1
